name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 5.0.x
    - run: dotnet restore
    - run: dotnet build --no-restore
    - run: dotnet test --no-restore
